apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    name: opentelemetry-operator
  name: opentelemetry-operator-alerts
spec:
  groups:
  - name: opentelemetry_operator.alerts
    rules:
    - alert: OpenCensusReceiverRemovalWarning
      annotations:
        message: OpenCensus Receiver is deprecated and it will be removed from the
          OpenTelemetry collector in Q1 2026.
        summary: OpenCensus Receiver is deprecated and it will be removed from the
          OpenTelemetry collector in Q1 2026.
      expr: |
        last_over_time((max by(version) (csv_succeeded{name=~"opentelemetry-operator.*"}))[5m:]) > 0
      for: 1m
      labels:
        severity: warning
