[submodule "redhat-opentelemetry-collector"]
	path = redhat-opentelemetry-collector
	url = https://github.com/os-observability/redhat-opentelemetry-collector.git
	branch = rhosdt-3.10
[submodule "opentelemetry-operator"]
	path = opentelemetry-operator
	url = https://github.com/os-observability/opentelemetry-operator.git
	branch = rhosdt-3.10
[submodule "opentelemetry-ebpf-instrumentation"]
	path = opentelemetry-ebpf-instrumentation
	url = https://github.com/open-telemetry/opentelemetry-ebpf-instrumentation.git
	branch = main
